{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            AI CRM
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/dashboard.css' %}"
    >

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="dashboard">

    <!-- =========================
         SIDEBAR
    ========================== -->

    <div class="sidebar">

        <h2>AI CRM</h2>

        <a href="{% url 'dashboard' %}">
            Dashboard
        </a>

        <a href="{% url 'tasks' %}">
            Tasks
        </a>

        <a href="{% url 'connect_meta_account' %}">
            Connect Instagram
        </a>

        <a href="/">
            Add Lead
        </a>

        <a href="{% url 'logout' %}">
            Logout
        </a>

    </div>

    <!-- =========================
         MAIN CONTENT
    ========================== -->

    <div class="main-content">

        {% block content %}

        {% endblock %}

    </div>

</div>

{% block scripts %}

{% endblock %}

</body>

</html>